---
export interface Props {
	type?: 'text' | 'email' | 'textarea';
	name: string;
	label: string;
	placeholder?: string;
	required?: boolean;
	rows?: number;
	class?: string;
}

const {
	type = 'text',
	name,
	label,
	placeholder = '',
	required = false,
	rows = 3,
	class: className = '',
} = Astro.props;
---

<div class={className}>
	<label for={name}>{label} {required && <span>*</span>}</label>
	
	{type === 'textarea' ? (
		<textarea
			id={name}
			name={name}
			placeholder={placeholder}
			required={required}
			rows={rows}
		></textarea>
	) : (
		<input
			id={name}
			type={type}
			name={name}
			placeholder={placeholder}
			required={required}
		/>
	)}
</div>